<div class="flex justify-center overflow-hidden">
    <dotlottie-player src="https://lottie.host/ad7e4ef0-ae8d-4cd5-b54e-aaa8ac74026f/Laagg4nwMK.lottie" background="transparent" speed="0.75" class="w-full h-full max-w-2xl lg:-mt-24" loop autoplay></dotlottie-player>
</div>

<script is:inline src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 